body {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
}
.grid {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 20px;
    height: 20px;
    
    
}
.snake {
    background-color: green;
}
.apple {
    background-color: blue;
}