body {
    margin: 10px;
    padding: 10px;
}
.grid {
    height: 200px;
    width: 200px;
    border: 3px solid rgb(181, 42, 42);
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 20px;
    height: 20px;
    
    
}
.snake {
    background-color: green;
}